body {
    background-color: #F5F5F5;
}
.search {
    width: 400px;
    background-color: white;
    padding: 30px;
    margin: 50px auto;
    text-align: center;
}
h1 {
    margin-bottom: 50px;
}
#kensaku {
    display: flex;
    flex-direction: column;
    gap: 10px;
}